@font-face {
  font-family: "Roboto-Black";
  src: url("../../fonts/Roboto-Black.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto-Light";
  src: local("../../fonts/Roboto-Light.ttf") format("ttf");
}
@font-face {
  font-family: "Roboto-Regular";
  src: local("../../fonts/Roboto-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Hammersmith-One";
  src: local("../../fonts/HammersmithOne-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-Display-Regular";
  src: local("../../fonts/PlayfairDisplay-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Playfair-Display";
  src: local("../../fonts/PlayfairDisplay-Black.ttf") format("ttf");
}